@import '../../styles/mixins.scss';


.navbar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.09rem;
    padding: 0 30px;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0%;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.navbar_logo {
    justify-content: start;
    cursor: pointer;
}


.navbar_links {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 12px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
    margin: calc(100vw - 85%);
   
}

.navbar_links a {
    text-decoration: none;
    color: #222;
    padding: 0.9rem 2rem;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    
    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
}

@media screen and (max-width: 850px) {
    .navbar_container {
        z-index: 99;
    }
    .navbar_links {
        animation: navMotion 0.5s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8ppx 32px 0 rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4px);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 85%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0%;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        border: solid 1px #dadada;
    }
    .navbar_links a{
        display: block;
        widows: 100%;
        padding: 2rem 0;
        color: #222;

        &:hover {
            background-color: rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(20px);
        }
    }



    @keyframes navMotion {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0%);
        }
    }
}