@import '../../styles/mixins.scss';


.hero {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(2, 1fr);
    margin: 1.3rem;
}

.hero_left {
    padding-block: 7rem;
    background-color: red;
}
p{
    display: none;
}
.hero_right {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_right img {
    padding: 10px;
    height: auto;
    width: 400px;
}
